<p>
  <i>Choose <b>{{data.limit | textNumber | uppercase}}</b> letters, 
  <b>A-{{data.choices.length | letter | uppercase}}</b>.</i>
</p>
<p><i>
    Write the correct letters in boxes {{data.first}}
    <span *ngIf="data.last - data.first == 1"> and </span>
    <span *ngIf="data.last - data.first > 1"> - </span>
    {{data.last}} on your answer sheet.
</i></p>
<p>{{data.des}}</p>
<p>
  Which <b>{{data.limit | textNumber | uppercase}}</b> are mentioned by the writer of the passage?
</p>

<div *ngFor="let item of data.choices; let i = 'index'">
  <md-checkbox [(ngModel)]="answers[i]" 
    (change)="checkLimit()">
    {{i + 1 | letter | uppercase}}. {{item}}
  </md-checkbox>
</div>
