<app-test-toolbar currentPage="2" testId="testId"></app-test-toolbar>

<div class="padding-20" *ngIf="data">
  <md-card>
    <md-card-title class="primary-color center">Writing Task 1</md-card-title>
    <md-card-subtitle>You should spend about 20 minutes on this task.</md-card-subtitle>
    <md-card-content>
      <div class="box">
        <p *ngFor="let text of data.task_1.text">{{text}}</p>
      </div>
      <p>Write at least 150 words.</p>
      <div class="space-20"></div>
      <img src="http://content.ieltsonlinetests.com/fileman/Uploads/Images/ielts/practice%203/percentage-of-water-used-for-different-purposes.png">
    </md-card-content>
  </md-card>

  <div class="space-20"></div>

  <md-card>
    <md-card-title class="primary-color center">Writing Task 2</md-card-title>
    <md-card-subtitle>You should spend about 40 minutes on this task.</md-card-subtitle>
    <md-card-content>
      <p>Write about the following topic:</p>
      <div class="box">
        <p *ngFor="let text of data.task_2.text">{{text}}</p>
      </div>
      <p>Give reasons for your answer and include any relevant examples from your own knowledge or experience.</p>
      <p>Write at least 250 words.</p>
    </md-card-content>
  </md-card>
</div>
