<md-toolbar color="primary">
  <p><a href="#" class="link">Cambridge IELTS 10</a> - Test 1</p>
  <span class="fill-remaining-space"></span>
  <nav>
    <button *ngIf="currentPage == 0" md-raised-button class="primary-color">Reading</button>
    <button *ngIf="currentPage != 0" md-button routerLink="/test/reading">Reading</button>

    <button *ngIf="currentPage == 1" md-raised-button class="primary-color">Listening</button>
    <button *ngIf="currentPage != 1" md-button routerLink="/test/listening">Listening</button>

    <button *ngIf="currentPage == 2" md-raised-button class="primary-color">Writing</button>
    <button *ngIf="currentPage != 2" md-button routerLink="/test/writing">Writing</button>

    <button *ngIf="currentPage == 3" md-raised-button class="primary-color">Speaking</button>
    <button *ngIf="currentPage != 3" md-button routerLink="/test/speaking">Speaking</button>
  </nav>
</md-toolbar>