.fill-remaining-space {
  flex: 1 1 auto;
}

#outlet {
  padding: 30px;
}

.link {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
}

md-toolbar {
  min-height: 0px;
  background: #e41937;
}

.mat-toolbar-layout, md-toolbar-row {
  height: 100%;
}

nav > button {
  border-radius: 0px;
}

.active {
  color: #e41937;
  cursor: default;
}

.inactive {
  color: white;
}

.test-title {
  color: white;
  font-size: 75%
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

md-toolbar {
  height: 45px;
}
