.fill-remaining-space {
  flex: 1 1 auto;
}

nav {
  position: relative;
  top: 4px;
}

nav > button {
  border-radius: 0px;
}

.active {
  color: #e41937;
  cursor: default;
}

.inactive {
  color: white;
}