<p><i>Complete the sentence<span *ngIf="data.first != data.last">s</span> below.</i></p>
<p>
  <i>Choose <b>NO MORE THAN {{data.word_limit | textNumber | uppercase}} WORDS <span *ngIf="data.number_limit != 0">AND/OR {{data.number_limit | textNumber | uppercase}} NUMBER</span></b> from the text for each answer.</i>
</p>
<p>
  <i>
    Write your answers in boxes {{data.first}}
    <span *ngIf="data.last - data.first == 1"> and </span>
    <span *ngIf="data.last - data.first > 1"> - </span>
    {{data.last}} on your answer sheet.
  </i>
</p>

<!-- <div > -->
  <p *ngFor="let sen of displaySens; let i = 'index'">
    <span>{{data.first + i}}. </span>
    <span *ngFor="let span of sen">
      <md-input-container *ngIf="span == '{}'" floatingPlaceholder="false">
        <input md-input type="text" [(ngModel)]="answers[i]" placeholder=""/>
      </md-input-container>
      <span *ngIf="span != '{}'">{{span}}</span>
    </span>
  </p>
<!-- </div> -->
