.box {
  border: 1px solid black;
  background: rgba(67, 169, 208, 0.25);
  padding: 10px;
}

md-card {
  width: 50%;
}

.center {
  text-align: center;
}

.topic {
  font-size: 110%;
  font-weight: bold;
}
