<app-test-toolbar currentPage="0"></app-test-toolbar>

<md-tab-group *ngIf="data">
  <md-tab *ngFor="let section of data" label="Section {{section.section_number}}">
    <div class="padding-20">
      
      <!-- Right-Block -->
      <div class="">
        <!-- Block for each set of questions -->
        <div *ngFor="let question of section.sub_sections" class="margin-bottom-50">
          <div class="question-block">
            <h3 *ngIf="question.first == question.last">Question {{question.first}}</h3>
            <h3 *ngIf="question.first != question.last">
              Questions {{question.first}}
                <span *ngIf="question.last - question.first == 1"> and </span>
                <span *ngIf="question.last - question.first > 1">-</span>
              {{question.last}}
            </h3>  
          </div>
          
          <div *ngIf="question.type == 'table'">
            <app-l-table [data]="question"></app-l-table>
          </div>
          <div *ngIf="question.type == 'multiple'">
            <app-l-multiple [data]="question"></app-l-multiple>
          </div>
          <div *ngIf="question.type == 'single'">
            <app-l-single [data]="question"></app-l-single>
          </div>
          <div *ngIf="question.type == 'note'">
            <app-l-note [data]="question"></app-l-note>
          </div>
        </div>

        <div class="actions">
          <button md-raised-button color="primary" (click)="viewSheet()">
            <span *ngIf="!isSubmited">View Answer Sheet & Submit</span>
            <span *ngIf="isSubmited">Review</span>
          </button>
        </div>
      </div>
      <!-- /Right-Block -->

    </div>
  </md-tab>
</md-tab-group>
