<i>
  <p>Complete the table below.</p>
  <p>Choose <b>NO MORE THAN {{data.word_limit | textNumber | uppercase}} WORDS <span *ngIf="data.number_limit != 0">AND/OR {{data.number_limit | textNumber | uppercase}} NUMBER</span></b> from the passage for each answer.</p>
  <p>
    Write your answers in boxes {{data.first}}
    <span *ngIf="data.last - data.first == 1"> and </span>
    <span *ngIf="data.last - data.first > 1">-</span>
    {{data.last}} on your answer sheet.
  </p>
</i>

<table>
  <tr *ngFor="let row of displayTable">
    <td *ngFor="let cell of row">
      <p *ngFor="let para of cell" class="para-in-cell">
        <span *ngFor="let span of para">
          <md-input-container *ngIf="span.isInput" floatingPlaceholder="false">
            <b md-prefix class="margin-right-10">{{span.data}} </b>
            <input md-input type="text" [(ngModel)]="answers[span.data - data.first]" placeholder=""/>
          </md-input-container>
          <span *ngIf="!span.isInput">{{span.data}}</span>
        </span>
      </p>
    </td>
  </tr>
</table>
