<p class="italic" *ngFor="let dir of data.directions" [innerHTML]="dir"></p>

<app-option-list [list]="data.features"
                 [answers]="answers"
                 [mark]="mark"></app-option-list>

<div *ngFor="let item of data.text; let i = 'index'">
  <p><span>{{data.first + i}}. </span>{{item}}</p>
  <md-select [(ngModel)]="answers[i]">
    <md-option *ngFor="let feature of data.features; let j = 'index'"
               [value]="j + 1 | letter">{{j + 1 | letter | uppercase}}. {{feature}}</md-option>
  </md-select>
</div>
