.spacer {
  flex: 1 1 auto;
}

#copy {
  font-size: small;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.logo {
  height: 100%;
}

.logo-a {
  height: 50%;
  margin-left: 16px;
}

.logo-b {
  height: 30%;
  margin-left: 16px;
}

.avatar {
  height: 75%;
  border-radius: 70%;
  cursor: pointer;
}

md-toolbar {
  height: 64px;
  background: #D32F2F;
}

/**/

md-sidenav {
  width: 250px;
  border-right: 1px solid #e0e0e0;
}

.toggle {
  box-shadow: none !important;
  background-color: rgba(228, 25, 55, 0);
  color: white;
}

md-menu {
  width: 100px;
}

md-nav-list > a {
  color: #616161;
}
