<p>
  <i>Answer the questions below.</i>
</p>
<p>
  <i>Choose <b>NO MORE THAN {{data.word_limit | textNumber | uppercase}} WORDS <span *ngIf="data.number_limit != 0">AND/OR {{data.number_limit | textNumber | uppercase}} NUMBER</span></b> from the passage for each answer.</i>
</p>
<p>
  <i>
    Write your answers in boxes {{data.first}}
    <span *ngIf="data.last - data.first == 1"> and </span>
    <span *ngIf="data.last - data.first > 1"> - </span>
    {{data.last}} on your answer sheet.
  </i>
</p>
<div *ngFor="let text of data.text; let i = 'index'">
  <p><span>{{data.first + i}}. </span>{{text}}</p>
  <md-input-container>
    <input md-input type="text" [(ngModel)]="answers[i]"/>
  </md-input-container>
</div>
