<md-slide-toggle [(ngModel)]="data.nb">NB (Can choose more than once)</md-slide-toggle>

<p>
  <i>Complete each sentence with the correct ending, 
  <b>{{1 | letter | uppercase}}-{{data.endings.length | letter | uppercase}}</b>
  , below.</i>
</p>
<p><i>
    Write the correct letters, 
    <b>{{1 | letter | uppercase}}-{{data.endings.length | letter | uppercase}}</b>
    , in boxes {{data.first}}
    <span *ngIf="data.last - data.first == 1"> and </span>
    <span *ngIf="data.last - data.first > 1"> - </span>
    {{data.last}} on your answer sheet.
</i></p>
<p *ngIf="data.nb"><b>NB</b> You may use any letter more than once.</p>

<md-card class="half-card">
  <md-card-content>
    <p *ngFor="let ending of data.endings; let i = 'index'"
       [style.color]="changeColor(i + 1) ? 'rgb(103, 58, 183)' : ''"
       class="relative">
        <span>{{i + 1 | letter | uppercase}}. </span>
        {{ending}}
        <md-icon class="icon" 
          color="warn"
          *ngIf="checkDuplicated(i + 1)"
          md-tooltip="This option is used more than once"
          [mdTooltipPosition]="'right'">
          warning
        </md-icon>
    </p>
  </md-card-content>
</md-card>

<div *ngFor="let sen of data.sentences; let i = 'index'">
  <p><span>{{data.first + i}}. </span>{{sen}}</p>
  <md-select [(ngModel)]="answers[i]">
    <md-option *ngFor="let ending of data.endings; let j = 'index'"
               [value]="j + 1">{{j + 1 | letter | uppercase}}</md-option>
  </md-select>
</div>
