<md-slide-toggle [(ngModel)]="data.duplicatable">NB (Can choose more than once)</md-slide-toggle>
<p>
  <i>Complete each sentence with the correct ending, 
  <b>{{1 | letter | uppercase}}-{{data.endings.length | letter | uppercase}}</b>
  , below.</i>
</p>
<p><i>
    Write the correct letters, 
    <b>{{1 | letter | uppercase}}-{{data.endings.length | letter | uppercase}}</b>
    , in boxes {{data.first}}
    <span *ngIf="data.last - data.first == 1"> and </span>
    <span *ngIf="data.last - data.first > 1"> - </span>
    {{data.last}} on your answer sheet.
</i></p>
<p *ngIf="data.duplicatable"><b>NB</b> You may use any letter more than once.</p>

<app-option-list [duplicatable]="data.duplicatable"
                 [list]="data.endings"
                 [answers]="answers"
                 [mark]="mark"></app-option-list>

<div *ngFor="let sen of data.sentences; let i = 'index'">
  <p><span>{{data.first + i}}. </span>{{sen}}</p>
  <md-select [(ngModel)]="answers[i]">
    <md-option *ngFor="let ending of data.endings; let j = 'index'"
               [value]="j + 1">{{j + 1 | letter | uppercase}}</md-option>
  </md-select>
</div>
