<p class="italic" *ngFor="let dir of data.directions" [innerHTML]="dir"></p>

<app-option-list [list]="data.endings"
                 [answers]="answers"
                 [mark]="mark"></app-option-list>

<div *ngFor="let sen of data.sentences; let i = 'index'">
  <p><span>{{data.first + i}}. </span>{{sen}}</p>
  <md-select [(ngModel)]="answers[i]">
    <md-option *ngFor="let ending of data.endings; let j = 'index'"
               [value]="j + 1">{{j + 1 | letter | uppercase}}</md-option>
  </md-select>
</div>
