<p class="italic" *ngFor="let dir of data.directions" [innerHTML]="dir"></p>

<md-card class="half-card">
  <md-card-title>{{data.heading}}</md-card-title>
  <md-card-content>
    <p *ngFor="let para of displayParas; let i = 'index'">
      <span *ngFor="let span of para; let j = 'index'">
        <md-input-container *ngIf="span.isInput" floatingPlaceholder="false">
          <b md-prefix class="margin-right-10">{{span.data}} </b>
          <input mdInput type="text" [(ngModel)]="answers[i][j]" placeholder=""/>
        </md-input-container>
        <span *ngIf="!span.isInput" [innerHTML]="span.data"></span>
      </span>
    </p>
  </md-card-content>
</md-card>
