<img class="banner" src="/assets/banner.png">

<div class="overall">
  <div class="section">
    <div class="header-bar">
      <p class="red">Recent Tests</p>
      <button md-button class="red" routerLink="/library">
        See Library
        <md-icon class="icon">chevron_right</md-icon>
      </button>
    </div>
    <div *ngFor="let test of tests; let i = 'index'" class="card-div">
      <md-card *ngIf="i < 8" routerLink="/listening/{{test.id}}">
        <!-- <img md-card-image [src]="test.image"> -->
        <div class="card-des">
          <p class="test-title red">{{test.title}}</p>
          <p class="test-des">{{test.description}}</p>
        </div>
      </md-card>
    </div>
  </div>

  <!-- <div class="section">
    <div class="header-bar"></div>
    <div class="card-div"></div>
  </div> -->
</div>
