<div class="overall">
  <div *ngFor="let test of tests" class="card-div" [ngStyle]="{'width': cardWidth}">
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>{{test.title}}</md-card-title>
        <md-card-subtitle>{{test.description}}</md-card-subtitle>
      </md-card-header>
      <img md-card-image [src]="test.image">
      <md-card-actions>
        <button md-button routerLink="/test/{{test.id}}/listening">TAKE THIS TEST</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
