.card-div {
  float: left;
  padding: 20px;
  box-sizing: border-box;
}

.example-card {
  /*width: 230px;*/
  /*float: left;*/
  /*margin: 10px;*/
}

.example-header-image {
  background-image: url('http://schoolsuganda.com/uploads/articles/35/650x650/1433145871-bc.png');
  background-size: cover;
}
