<p class="italic" *ngFor="let dir of data.directions" [innerHTML]="dir"></p>

<app-option-list 
                 [list]="data.headings"
                 [answers]="getAnswerArray()"
                 [mark]="mark"></app-option-list>

<div *ngFor="let para of data.paras; let j = 'index'">
  <p>
    <span *ngIf="para.no">{{para.no}}. </span>
    <span *ngIf="!para.no"><i>Example: </i></span>
    Paragraph <b>{{para.char | uppercase}}</b>
  </p>
  <div *ngIf="!para.answer">
    <md-select [(ngModel)]="answers[para.no - data.first]">
      <md-option *ngFor="let heading of data.headings; let i = 'index'"
                 [value]="i + 1">{{i + 1 | roman}}</md-option>
    </md-select>
  </div>
  <div *ngIf="para.answer">
    <p><i>Answer: </i>{{para.answer | roman}}</p>
  </div>
</div>
