<div class="list">
  <p><b>List of Headings</b></p>
  <div *ngFor="let heading of data.headings; let i = 'index'">
    <p><span>{{i + 1 | roman}}. </span>{{heading}}</p>
  </div>
</div>

<div *ngFor="let para of data.paras; let j = 'index'">
  <p><span>{{data.first + j}}. </span>Paragraph {{para.char | uppercase}}</p>
  <div *ngIf="para.answer == 'none'">
    <md-select placeholder="Select" [(ngModel)]="answers[j]">
      <md-option *ngFor="let heading of data.headings; let i = 'index'"
                 [value]="i + 1">{{i + 1 | roman}}</md-option>
    </md-select>
  </div>
  <div *ngIf="para.answer != 'none'">
    <p><i>Example: {{para.answer | roman}}</i></p>
  </div>
</div>

