<app-test-toolbar currentPage="1" [testId]="testId"></app-test-toolbar>
<app-loading isShow="{{sections ? false : true}}"></app-loading>

<md-tab-group *ngIf="sections" class="margin-bottom-20 overall">
  <md-tab *ngFor="let section of sections" label="Section {{section.section_number}}">
    <div class="padding-20">
      
      <!-- Left-Block -->
      <div class="left-block">
        <md-card class="left-card">
          <md-card-title class="blue title">{{section.passage.heading | uppercase}}</md-card-title>
          <md-card-subtitle>{{section.passage.sub_heading}}</md-card-subtitle>
          <md-card-content>
            <div *ngFor="let para of section.passage.paras">
              <p style="position:relative;">
                <b style="position:absolute;left:-15px">{{para.mark | uppercase}}</b>
                {{para.content}}
              </p>
            </div>
          </md-card-content>
        </md-card>
      </div>
      <!-- /Left-Block -->
      
      <!-- Right-Block -->
      <div class="right-block">
        <!-- Block for each set of questions -->
        <div *ngFor="let question of section.sub_sections" class="margin-bottom-20">
          <div class="question-block blue">
            <p *ngIf="question.first == question.last">Question {{question.first}}</p>
            <p *ngIf="question.first != question.last">
              <span>Questions {{question.first}}</span>
              <span *ngIf="question.last - question.first == 1"> and </span>
              <span *ngIf="question.last - question.first > 1">-</span>
              <span>{{question.last}}</span>
            </p>  
          </div>
          
          <div *ngIf="question.type == 'answer'">
            <app-answer [data]="question"></app-answer>
          </div>
          <div *ngIf="question.type == 'feature'">
            <app-feature [data]="question"></app-feature>
          </div>
          <div *ngIf="question.type == 'multiple'">
            <app-multiple [data]="question"></app-multiple>
          </div>
          <div *ngIf="question.type == 'note'">
            <app-note [data]="question"></app-note>
          </div>
          <div *ngIf="question.type == 'single'">
            <app-single [data]="question"></app-single>
          </div>
          <div *ngIf="question.type == 'table'">
            <app-table [data]="question"></app-table>
          </div>

          <div *ngIf="question.type == 'true-false'">
            <app-true-false [data]="question"></app-true-false>
          </div>
          <div *ngIf="question.type == 'heading'">
            <app-heading [data]="question"></app-heading>
          </div>
          <div *ngIf="question.type == 'summary-select'">
            <app-summary-select [data]="question"></app-summary-select>
          </div>
          <div *ngIf="question.type == 'sentence'">
            <app-sentence [data]="question"></app-sentence>
          </div>
          <div *ngIf="question.type == 'ending'">
            <app-ending [data]="question"></app-ending>
          </div>
          <div *ngIf="question.type == 'information'">
            <app-information [data]="question"
              [sectionNumber]="section.section_number"></app-information>
          </div>
        </div>

        <div class="action-block">
          <button md-raised-button color="primary" (click)="viewSheet(isSubmited)">
            <span *ngIf="!isSubmited">View Answer Sheet & Submit</span>
            <span *ngIf="isSubmited">Review</span>
          </button>
        </div>
      </div>
      <!-- /Right-Block -->

    </div>
  </md-tab>
</md-tab-group>

<button class="timer" md-raised-button>
  <md-icon class="icon">alarm</md-icon>
  {{timeLeft | timer}}
</button>
