.left-block, .right-block {
  height: 700px;
  overflow: scroll;
  width: 49%;
}

.left-block::-webkit-scrollbar, .right-block::-webkit-scrollbar { 
  display: none; 
}

.left-block {
  float: left;
}

.right-block {
  float: right;
}

.left-card {
  margin: 3px;
}

.title {
  text-align: center;
}
