md-dialog-content::-webkit-scrollbar { 
    display: none; 
}

table {
  width: 100%;
  border-collapse: collapse;
  /*background: rgba(67, 169, 208, 0.25);*/
}

td, th {
  border: 1px solid #9E9E9E;
  padding: 5px;
}

.first-col, .second-col {
  /*text-align: center;*/
}

.first-col {
  width: 15%;
}

.second-col {

}

.mat-dialog-content {
  max-height: 50vh;
}

.submit {
  margin-right: 10px;
}

.score, .no-of-correct {
  text-align: right;
  margin: 0px;
}

.score {
  font-size: 300%
}

.no-of-correct {
  color: grey;
  margin: 5px 0px 10px 0px;
}

.score-prefix {
  font-size: 60%;
  color: inherit;
}
