<!-- <h1>Need correction adapting for each type, true-false or yes-no.</h1> -->

<p>Do the following statements agree with the information given in Reading Passage {{sectionNumber}}?</p>
<p>
  <i>In boxes {{data.first}}-{{data.last}} on your answer sheet, write</i>
</p>
<div class="options">
  <table>
    <tr>
      <td><p class="option primary-color">TRUE</p></td>
      <td><p>if the statement argees with the information</p></td>
    </tr>
    <tr>
      <td><p class="option primary-color">FALSE</p></td>
      <td><p>if the statement contradicts with the information</p></td>
    </tr>
    <tr>
      <td><p class="option primary-color">NOT GIVEN</p></td>
      <td><p>if there is no information on this</p></td>
    </tr>
  </table>
</div>

<div *ngFor="let text of data.text; let i = 'index'">
  <p><span>{{data.first + i}}. </span>{{text}}</p>
  <md-select [(ngModel)]="answers[i]">
    <md-option *ngFor="let item of options" [value]="item">{{item | uppercase}}</md-option>
  </md-select>
</div>
