.left-block {
  float: left;
}

.right-block {
  float: right;
}

.left-block, .right-block {
  height: 600px;
  width: 49%;
  overflow-y: scroll;
}

/*.left-block:hover, .right-block:hover {
  overflow-y: scroll;
}*/

.left-block::-webkit-scrollbar, .right-block::-webkit-scrollbar {
  display: none;
  width: 0.5em;
}
 
.left-block::-webkit-scrollbar-thumb, .right-block::-webkit-scrollbar-thumb {
  background-color: rgba(128, 222, 234, 0.5);
  outline: 1px solid slategrey;
}

.left-card {
  margin: 3px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

.whole-block {
  border: 1px solid #1E88E5;
  margin-bottom: 20px;
}

.whole-block > .header-block {
  background: #1E88E5;
  display: block;
  color: white;
}

.whole-block > .header-block > p {
  margin: 0px;
  padding: 5px;
  padding-left: 20px;
  font-size: large;
}

.whole-block > .content-block {
  padding: 0px 20px 20px 20px;
}

.action-block {
  text-align: end;
}
