.left-block {
  float: left;
}

.right-block {
  float: right;
}

.left-block, .right-block {
  height: 600px;
  width: 49%;
  overflow: scroll;
}

.left-block::-webkit-scrollbar, .right-block::-webkit-scrollbar { 
  display: none; 
}

.left-card {
  margin: 3px;
  margin-bottom: 20px;
}

.question-block {
  /*box-sizing: border-box;*/
  border: 2px solid #EEEEEE;
  /*padding: 5px;*/
  /*display: inline-block;*/
  display: block;
  border-width: 0 0 2px 0;

}

.question-block > p {
  display: inline-block;
  position: relative;
  top: 2px;
  margin: 0px;
  padding: 5px;
  font-size: larger;
  border: 2px solid #1E88E5;
  border-width: 0 0 2px 0;
}

.action-block {
  text-align: end;
}

.timer {
  z-index: 2;
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.timer:hover {
  opacity: 0.5;
}
