<p>
  <i>Choose the correct letter, <b>A</b>, <b>B</b>, <b>C</b> or <b>D</b>.</i>
</p>
<p>
  <i *ngIf="data.first == data.last">
    Write the correct letter in box {{data.first}} on your answer sheet.</i>
  <i *ngIf="data.first != data.last">
    Write the correct letter in boxes {{data.first}}
    <span *ngIf="data.last - data.first == 1"> and </span>
    <span *ngIf="data.last - data.first > 1"> - </span>
    {{data.last}} on your answer sheet.
  </i>
</p>

<div *ngFor="let question of data.questions; let i = 'index'">
  <p><span *ngIf="data.first != data.last">{{data.first + i}}. </span>{{question.text}}</p>
  <md-radio-group class="radio-group" [(ngModel)]="answers[i]">
    <md-radio-button *ngFor="let choice of choices; let i = 'index'" 
      [value]="choice">{{choice | uppercase}}. {{question.choices[i]}}</md-radio-button>
  </md-radio-group>
</div>
